.form-group .form-error {
    color: #FFF;
    background-color: #f33155;
    padding: 5px 5px 5px 13px;
}
.toast-header small{
    margin-left: 10px;
}
.dropdown-profile .dropdown-item.active{
    background-color: transparent!important;
    color: #0168fa!important;
}
.form-text.text-muted{
    font-size: 12px
}
.toast-container{
    z-index: 9999;
}
span.select2-dropdown.select2-dropdown--above li[aria-selected=true] {
    display: none!important;
    /* background-color: #5897fb; */
    /* color: white; */
}
table thead th, table tbody td, table tbody th{
    vertical-align: middle!important;
}
td button.btn-icon, td a.btn-icon{
    margin-bottom: 5px;
    padding: 2px 6px!important;
}
.select2.select2-container{
    width: 100% !important;
}
.select2-selection__placeholder{
    color:#c0ccda!important;
}
.currency-dropdown{
    min-width: 5rem!important;
}
.select2-dropdown.select2-dropdown--below, .ui-autocomplete{
    z-index: 9999!important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    width: 50%!important;
}
.dropdown-toggle.no-caret:after{
    display: none!important;
}
.my-popover-content table tr td.headies{
    font-weight: bold;
}
.my-popover-content table tr td{
    border-top: none;
}
.ui-datepicker{
    z-index: 999 !important;
}
@media (min-width: 992px){
    .df-title {
        font-size: 55px;
    }
}
.df-title {
    text-align: center;
    text-transform: uppercase
}