.form-group .form-error {
    color: #FFF;
    background-color: #f33155;
    padding: 5px 5px 5px 13px;
}
.toast-header small{
    margin-left: 10px;
}
.dropdown-profile .dropdown-item.active{
    background-color: transparent!important;
    color: #0168fa!important;
}
.form-text.text-muted{
    font-size: 12px
}
.toast-container{
    z-index: 9999;
}
span.select2-dropdown.select2-dropdown--above li[aria-selected=true] {
    display: none!important;
    /* background-color: #5897fb; */
    /* color: white; */
}
table thead th, table tbody td, table tbody th{
    vertical-align: middle!important;
}
td button, td a{
    margin-bottom: 5px;
    padding: 2px 6px!important;
}
.select2.select2-container{
    width: 100% !important;
}
.select2-selection__placeholder{
    color:#c0ccda!important;
}
.currency-dropdown{
    min-width: 5rem!important;
}
.select2-dropdown.select2-dropdown--below, .ui-autocomplete{
    z-index: 9999!important;
}